.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(172, 249, 255, 0.3), rgba(172, 249, 255, 0.3)), url("../../images/dewey_full.png") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
    margin-top: -4rem;
    letter-spacing: 0.5rem;
    display: inline-block;
    border-right: 0.5rem solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(19),
        cursor .7s step-end infinite;

}

@keyframes cursor {
    50%{ border-color: transparent;}
}

@keyframes typing {
    from {
        width: 0;
    }
    to{
        width: 20ch;
    }
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.2;
    max-width: 770px;
}